* {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;


}

body {
    max-width: 100%;
    max-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
}


.calculator {
    background-color: rgb(15, 0, 68);
    
    padding: 15px;
    border-radius: 10px;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.calculator__display input {
    background: none;
    color: #fff;
    font-size: 35px;
    margin: 10px;
    min-width: 220px;
    max-width: 200px;
    text-align: right;
    border: none;

    overflow: hidden;
    
}

button {
    padding: 10px;
    color: rgb(189, 189, 189);
    background-color: rgb(12, 12, 54);
    border: none;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    margin: 5px;
} 

.key-equal {
    flex: 1;
}

button:hover {
    box-shadow: 1px 3px 3px rgb(84, 84, 84);
}


.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.key-operator {
    color: orange;
    font-size: 110%;
}



.calculator__keys > .is-depressed::before {
    background-color: rgba(0, 0, 0, 0.2);
    bottom: 0;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5) inset;
    content: "";
    left: 0;
    opacity: 0.3;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }